<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>404 Not Found</title>
     <style>
        @import url('https://fonts.googleapis.com/css2?family=Prompt&family=Roboto&display=swap');
        body{
            background-color: #11009E;
            color: white;
            font-size: 40px;
            font-family: sans-serif;
            text-align: center;
            margin-top: 18%;
            font-family: 'Prompt', sans-serif;
        }
        a{
            background-color: white;
            text-decoration: none;
            color: #11009E;
            padding: 0.5rem 3rem;
            font-size: 30px;
            border-radius: 10px;
        }
        a:hover{
            background-color: #9388f0;
            color: white;
        }
     </style>
</head>
<body>
     <div class="not-found content">
          <h2>ไม่น้าา! เกิดข้อผิดพลาดบางอย่าง</h2>
     </div>

     <a href="/">ลองอีกครั้งสิจ้ะเตง</a>
</body>
</html>
